<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Googlerichsnippet>
            <version>0.1.0</version>
        </Magentothem_Googlerichsnippet>
    </modules>
    <global>
        <blocks>
            <magentothem_googlerichsnippet>
                <class>Magentothem_Googlerichsnippet_Block</class>
            </magentothem_googlerichsnippet>
        </blocks>
        <helpers>
            <magentothem_googlerichsnippet>
                <class>Magentothem_Googlerichsnippet_Helper</class>
            </magentothem_googlerichsnippet>
        </helpers>
        <resources>
            <magentothem_googlerichsnippet_setup>
                <setup>
                    <module>Magentothem_Googlerichsnippet</module>
                </setup>
            </magentothem_googlerichsnippet_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <magentothem_googlerichsnippet>
                    <file>googlesnippet.xml</file>
                </magentothem_googlerichsnippet>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="magentothem_googlerichsnippet">
                <title>Magentothem</title>
                <sort_order>71</sort_order>
                <children>
                    <googlesnippet translate="title" module="magentothem_googlerichsnippet">
                        <title>Google Rich Snippets</title>
                        <sort_order>94</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/google_snippets</action>
                            </configuration>
                        </children>
                    </googlesnippet>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <google_snippets>
                                            <title>Google Rich Snippets</title>
                                        </google_snippets>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
        <google_snippets>
            <general_info>
                <enable_rs>1</enable_rs>
                <enable_rate>1</enable_rate>
                <enable_price>1</enable_price>
            </general_info>
        </google_snippets>
    </default>
</config>