<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Ajaxlogin>
            <version>0.1.0</version>
        </Magentothem_Ajaxlogin>
    </modules>
    <global>
        <models>
            <magentothem_ajaxlogin>
                <class>Magentothem_Ajaxlogin_Model</class>
            </magentothem_ajaxlogin>
        </models>
        <blocks>
            <magentothem_ajaxlogin>
                <class>Magentothem_Ajaxlogin_Block</class>
            </magentothem_ajaxlogin>
        </blocks>
        <helpers>
            <magentothem_ajaxlogin>
                <class>Magentothem_Ajaxlogin_Helper</class>
            </magentothem_ajaxlogin>
        </helpers>
        <resources>
            <magentothem_ajaxlogin_setup>
                <setup>
                    <module>Magentothem_Ajaxlogin</module>
                </setup>
            </magentothem_ajaxlogin_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <magentothem_ajaxlogin>
                <use>standard</use>
                <args>
                    <module>Magentothem_Ajaxlogin</module>
                    <frontName>ajaxlogin</frontName>
                </args>
            </magentothem_ajaxlogin>
        </routers>
        <layout>
            <updates>
                <magentothem_ajaxlogin>
                    <file>ajaxlogin.xml</file>
                </magentothem_ajaxlogin>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="magentothem_ajaxlogin">
                <title>Magentothem</title>
                <sort_order>71</sort_order>
                <children>
                    <ajaxlogin translate="title" module="magentothem_ajaxlogin">
                        <title>Ajax Login</title>
                        <sort_order>103</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/ajax_login</action>
                            </configuration>
                        </children>
                    </ajaxlogin>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <ajax_login>
                                            <title>Ajax Login</title>
                                        </ajax_login>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <ajax_login>
            <general_info>
                <enable_al>1</enable_al>
				<image_upload>default/loader.gif</image_upload>
            </general_info>
        </ajax_login>
    </default>
</config>