<?xml version="1.0"?>
<config>
  <modules>
    <ZealousWeb_GTranslator>
      <version>0.1.0</version>
    </ZealousWeb_GTranslator>
  </modules>
  <global>
    <helpers>
      <gtranslator>
        <class>ZealousWeb_GTranslator_Helper</class>
      </gtranslator>
    </helpers>
    <models>
        <gtranslator>
            <class>ZealousWeb_GTranslator_Model</class>
        </gtranslator>
    </models>
  </global>  
  <frontend>
    <routers>
      <gtranslator>
        <use>standard</use>
          <args>
            <module>zealousweb_gtranslator</module>
            <frontName>gtranslator</frontName>
          </args>
      </gtranslator>
    </routers>
		<layout>
		  <updates>
			<gtranslator>
			  <file>gtranslator.xml</file>
			</gtranslator>
		  </updates>
		</layout>
  </frontend>  
</config> 