<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Relatedslider>
            <version>1.7.0.0</version>
        </Magentothem_Relatedslider>
    </modules>
    <global>
        <blocks>
            <relatedslider>
                <class>Magentothem_Relatedslider_Block</class>
            </relatedslider>
            <catalog>
                <rewrite>
                    <product_list_related>Magentothem_Relatedslider_Block_Catalog_Product_List_Related</product_list_related>
                </rewrite>
            </catalog>
        </blocks>
        <models>
            <relatedslider>
                <class>Magentothem_Relatedslider_Model</class>
            </relatedslider>
        </models>
        <helpers>
            <relatedslider>
                <class>Magentothem_Relatedslider_Helper</class>
            </relatedslider>
        </helpers>
        <events>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <relatedslider_layout_generate_observer>
                        <type>singleton</type>
                        <class>relatedslider/layout_generate_observer</class>
                        <method>addJqueryLibrary</method>
                    </relatedslider_layout_generate_observer>
                </observers>
            </controller_action_layout_generate_blocks_after>
        </events>
    </global>
    <frontend>
        <layout>
            <updates>
                <relatedslider>
                    <file>relatedslider.xml</file>
                </relatedslider>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="relatedslider">
                <title>Magentothem</title>
                <sort_order>71</sort_order>               
                <children>
                    <relatedslider translate="title" module="relatedslider">
                        <title>RelatedSlider</title>
                        <sort_order>35</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/relatedslider</action>
                            </configuration>
                        </children>
                    </relatedslider>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <relatedslider>
                                            <title>Related Slider</title>
                                        </relatedslider>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <relatedslider>
            <relatedslider_config>
                <enabled>1</enabled>
                <title>Related Products</title>
                <auto>0</auto>
                <speed>1000</speed>
                <show_price>1</show_price>
                <review>1</review>
                <qty>16</qty>
                <itemsDefault>3</itemsDefault>
                <itemsDesktop>3</itemsDesktop>
                <itemsDesktopSmall>2</itemsDesktopSmall>
                <itemsTablet>2</itemsTablet>
                <itemsMobile>1</itemsMobile>
                <row_show>1</row_show>
                <width_thumbnail>300</width_thumbnail>
                <height_thumbnail>350</height_thumbnail>
                <next_back>1</next_back>
                <nav_ctrl>0</nav_ctrl>
            </relatedslider_config>
        </relatedslider>
    </default>
</config>