ul.tabs a.la-menu-section {
    background: url(la-tab.png) no-repeat 18px 4px;
    overflow: hidden;
}

ul.tabs a.la-menu-section span {
    padding-left: 40px;
}

ul.tabs a.la-menu-section:hover {
    background-color: #D8E6E6;
}

ul.tabs a.la-menu-section.active {
    background: #FFFFFF url(la-tab.png) no-repeat 18px 4px;
    font-weight: bold;
    border-width: 0;
}
ul.tabs a.la-menu-section.active span {
    background-color: transparent;
}

ul.tabs a.la-menu-section.active:hover {
    background: #FFFFFF url(la-tab.png) no-repeat 18px 4px;
}

.la-notice {
    background: url(../../images/fam_help.gif) no-repeat 0 50%;
    padding: 0 0 0 30px;
    margin-bottom: 18px;
    font-style: italic;
}
h3.la-header {
    background: url(la-logo.png) no-repeat 0 0;
    color: #44789A;
    height: 52px;
    text-indent: 270px;
    line-height: 52px;
}