<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Banner8>
            <version>1.8.0.0</version>
        </Magentothem_Banner8>
    </modules>
    <frontend>
        <routers>
            <banner8>
                <use>standard</use>
                <args>
                    <module>Magentothem_Banner8</module>
                    <frontName>banner8</frontName>
                </args>
            </banner8>
        </routers>
        <layout>
            <updates>
                <banner8>
                    <file>banner8.xml</file>
                </banner8>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<banner8>
				<use>admin</use>
				<args>
					<module>Magentothem_Banner8</module>
					<frontName>banner8</frontName>
				</args>
			</banner8>
        </routers>
    </admin>
    <adminhtml>
	<menu>
		<magentothem translate="title" module="banner8">
			<title>Magentothem</title>
			<sort_order>71</sort_order>               
			<children>
				<banner8 translate="title" module="banner8">
					<title>Banner8</title>
					<sort_order>0</sort_order>
					<children>
						<items translate="title" module="banner8">
							<title>Manage Items</title>
							<sort_order>0</sort_order>
							<action>banner8/adminhtml_banner8</action>
						</items>
						<configuration>
							<title>Configuration</title>
							<sort_order>1</sort_order>
							<action>adminhtml/system_config/edit/section/banner8</action>
						</configuration>
					</children>
				</banner8>
			</children>
		</magentothem>
	</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Banner8>
							<title>Banner8 Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Banner8>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<banner8>
					<file>banner8.xml</file>
				</banner8>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <banner8>
                <class>Magentothem_Banner8_Model</class>
                <resourceModel>banner8_mysql4</resourceModel>
            </banner8>
            <banner8_mysql4>
                <class>Magentothem_Banner8_Model_Mysql4</class>
                <entities>
                    <banner8>
                        <table>banner8</table>
                    </banner8>
                </entities>
            </banner8_mysql4>
        </models>
        <resources>
            <banner8_setup>
                <setup>
                    <module>Magentothem_Banner8</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </banner8_setup>
            <banner8_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </banner8_write>
            <banner8_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </banner8_read>
        </resources>
        <blocks>
            <banner8>
                <class>Magentothem_Banner8_Block</class>
            </banner8>
        </blocks>
        <helpers>
            <banner8>
                <class>Magentothem_Banner8_Helper</class>
            </banner8>
        </helpers>
    </global>
	<default>
		<banner8>
			<banner8_config>
				<enabled>1</enabled>
				<animation>slide</animation>
				<speed>5000</speed>
				<interval>600</interval>
				<qty_item>4</qty_item>
				<description>0</description>
				<next_back>1</next_back>
				<nav_ctrl>1</nav_ctrl>
			</banner8_config>
		</banner8>
	</default>
</config>