<?xml version="1.0"?>
<config>
    <modules>
        <Magebuzz_Improvedaddress>
            <version>0.1.1</version>
        </Magebuzz_Improvedaddress>
    </modules>
    <frontend>
        <routers>
            <improvedaddress>
                <use>standard</use>
                <args>
                    <module>Magebuzz_Improvedaddress</module>
                    <frontName>improvedaddress</frontName>
                </args>
            </improvedaddress>
        </routers>
        <layout>
            <updates>
                <improvedaddress>
                    <file>improvedaddress.xml</file>
                </improvedaddress>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magebuzz_Improvedaddress>
                    <files>
                        <default>Magebuzz_Improvedaddress.csv</default>
                    </files>
                </Magebuzz_Improvedaddress>
            </modules>
        </translate>
        <events>
            <customer_address_save_before>
                <observers>
                    <improvedaddress_address_save_before>
                        <type>singleton</type>
                        <class>improvedaddress/observer</class>
                        <method>addressSaveBefore</method>
                    </improvedaddress_address_save_before>
                </observers>
            </customer_address_save_before>
        </events>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Magebuzz_Improvedaddress after="Mage_Adminhtml">Magebuzz_Improvedaddress_Adminhtml</Magebuzz_Improvedaddress>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>		
        <layout>
            <updates>
                <improvedaddress>
                    <file>improvedaddress.xml</file>
                </improvedaddress>
            </updates>
        </layout>
        <translate>
            <modules>
                <Magebuzz_Improvedaddress>
                    <files>
                        <default>Magebuzz_Improvedaddress.csv</default>
                    </files>
                </Magebuzz_Improvedaddress>
            </modules>
        </translate>
    </adminhtml>   
    <global>
        <models>
            <improvedaddress>
                <class>Magebuzz_Improvedaddress_Model</class>
                <resourceModel>improvedaddress_mysql4</resourceModel>
            </improvedaddress>
            <improvedaddress_mysql4>
                <class>Magebuzz_Improvedaddress_Model_Mysql4</class>
                <entities>
                    <region>
                        <table>directory_country_region</table>
                    </region>
                    <city>
                        <table>directory_region_city</table>
                    </city>
                </entities>
            </improvedaddress_mysql4>
        </models>
        <resources>
            <improvedaddress_setup>
                <setup>
                    <module>Magebuzz_Improvedaddress</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </improvedaddress_setup>
            <improvedaddress_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </improvedaddress_write>
            <improvedaddress_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </improvedaddress_read>
        </resources>
        <blocks>
            <improvedaddress>
                <class>Magebuzz_Improvedaddress_Block</class>
            </improvedaddress>
            <adminhtml>
                <rewrite>
                    <customer_edit_tab_addresses>Magebuzz_Improvedaddress_Block_Adminhtml_Customer_Edit_Tab_Addresses</customer_edit_tab_addresses>
                    <sales_order_create_billing_address>Magebuzz_Improvedaddress_Block_Adminhtml_Sales_Order_Create_Billing_Address</sales_order_create_billing_address>
                    <sales_order_create_shipping_address>Magebuzz_Improvedaddress_Block_Adminhtml_Sales_Order_Create_Shipping_Address</sales_order_create_shipping_address>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <improvedaddress>
                <class>Magebuzz_Improvedaddress_Helper</class>
            </improvedaddress>
        </helpers>
        <fieldsets>
            <customer_address>
                <city_id>
                    <to_quote_address>*</to_quote_address>
                </city_id>
            </customer_address>
            <sales_convert_quote_address>
                <city_id>
                    <to_order_address>*</to_order_address>
                    <to_customer_address>*</to_customer_address>
                </city_id>								
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <city_id>
                    <to_quote_address>*</to_quote_address>
                </city_id>				
            </sales_convert_order_address>
            <sales_copy_order_billing_address>
                <city_id>
                    <to_order>*</to_order>
                </city_id>
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <city_id>
                    <to_order>*</to_order>
                </city_id>
            </sales_copy_order_shipping_address>
        </fieldsets>
        <events>
            <customer_address_format>
                <observers>
                    <improvedaddress_customer_address_format>
                        <type>model</type>
                        <class>improvedaddress/observer</class>
                        <method>addAdditionalDataToAddress</method>
                    </improvedaddress_customer_address_format>
                </observers>
            </customer_address_format>
        </events>
    </global>
</config>