<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Producttabs>
            <version>0.1.0</version>
        </Magentothem_Producttabs>
    </modules>
    <frontend>
        <routers>
            <producttabs>
                <use>standard</use>
                <args>
                    <module>Magentothem_Producttabs</module>
                    <frontName>producttabs</frontName>
                </args>
            </producttabs>
        </routers>
        <layout>
            <updates>
                <producttabs>
                    <file>producttabs.xml</file>
                </producttabs>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <producttabs>
                <use>admin</use>
                <args>
                    <module>Magentothem_Producttabs</module>
                    <frontName>producttabs</frontName>
                </args>
            </producttabs>
            <adminhtml>
                <args>
                    <modules>
                        <productslide before="Mage_Adminhtml">Magentothem_Producttabs_Adminhtml</productslide>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="producttabs">
                <title>Magentothem</title>
                <sort_order>71</sort_order>               
                <children>
                    <producttabs translate="title" module="producttabs">
                        <title>Product Tabs</title>
                        <sort_order>0</sort_order>
                        <children>
                            <featuredproduct translate="title">
                                <title>Featured Products</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/featured/index</action>
                            </featuredproduct>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>2</sort_order>
                                <action>adminhtml/system_config/edit/section/producttabs</action>
                            </configuration>
                        </children>
                    </producttabs>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magentothem_Producttabs>
                            <title>Producttabs Module</title>
                            <sort_order>10</sort_order>
                        </Magentothem_Producttabs>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <producttabs>
                    <file>producttabs.xml</file>
                </producttabs>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <producttabs>
                <class>Magentothem_Producttabs_Model</class>
                <resourceModel>producttabs_resource</resourceModel>
            </producttabs>
            <producttabs_resource>
                <class>Magentothem_Producttabs_Model_Resource</class>
            </producttabs_resource>
        </models>
        <resources>
            <producttabs_setup>
                <setup>
                    <module>Magentothem_Producttabs</module>
                    <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </producttabs_setup>
            <producttabs_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </producttabs_write>
            <producttabs_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </producttabs_read>
        </resources>
        <blocks>
            <producttabs>
                <class>Magentothem_Producttabs_Block</class>
            </producttabs>
        </blocks>
        <helpers>
            <producttabs>
                <class>Magentothem_Producttabs_Helper</class>
            </producttabs>
        </helpers>
    </global>
    <default>
        <producttabs>
            <producttabs_config>
                <enabled>1</enabled>
                <auto>0</auto>
                <title>Product Tabs</title>
                <speed>3000</speed>
                <show_price>1</show_price>
                <addtocart>1</addtocart>
                <addtowishlist>1</addtowishlist>
                <addtocompare>1</addtocompare>
                <review>1</review>
                <itemsDefault>5</itemsDefault>
                <itemsDesktop>4</itemsDesktop>
                <itemsDesktopSmall>3</itemsDesktopSmall>
                <itemsTablet>2</itemsTablet>
                <itemsMobile>1</itemsMobile>
                <row_show>1</row_show>
				<width_thumbnail>300</width_thumbnail>
                <height_thumbnail>300</height_thumbnail>
                <next_back>1</next_back>
                <nav_ctrl>0</nav_ctrl>
            </producttabs_config>
            <product_show>
                <product_type>bestseller,featured,mostviewed</product_type>
                <product_number>20</product_number>
            </product_show>
        </producttabs>
    </default>
</config>