<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <MST_Onepagecheckout>
            <version>2.1.0</version>
        </MST_Onepagecheckout>
    </modules>

    <global>
        <models>
            <onepagecheckout>
                <class>MST_Onepagecheckout_Model</class>
				<resourceModel>onepagecheckout_mysql4</resourceModel>
            </onepagecheckout>
            <onepagecheckout_adminhtml>
                <class>MST_Onepagecheckout_Adminhtml_Model</class>
            </onepagecheckout_adminhtml>
			
        </models>
        <resources>
            <onepagecheckout_setup>
                <setup>
                    <module>MST_Onepagecheckout</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </onepagecheckout_setup>
            <onepagecheckout_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </onepagecheckout_write>
            <onepagecheckout_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </onepagecheckout_read>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_view_items>MST_Onepagecheckout_Block_Adminhtml_Sales_Order_View_Suvery</sales_order_view_items>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <links>MST_Onepagecheckout_Block_Links</links>
                </rewrite>
            </checkout>
            <onepagecheckout>
                <class>MST_Onepagecheckout_Block</class>
            </onepagecheckout>
        </blocks>
        <helpers>
            <checkout>
                <rewrite>
                    <url>MST_Onepagecheckout_Helper_Url</url>
                </rewrite>
            </checkout>
            <onepagecheckout>
                <class>MST_Onepagecheckout_Helper</class>
            </onepagecheckout>
        </helpers>
    </global>
    
    <frontend>
        <events>
            <checkout_type_onepage_save_order>
                <observers>
                    <fancycheckout_save_customercomment>
                        <type>model</type>
                        <class>MST_Onepagecheckout_Helper_Data</class>
                        <method>setCustomerCommentDelivery</method>
                    </fancycheckout_save_customercomment>
                </observers>
            </checkout_type_onepage_save_order>
        </events>
        <routers>
            <onepagecheckout>
                <use>standard</use>
                <args>
                    <module>MST_Onepagecheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
        </routers>
        <translate>
            <modules>
                <MST_Onepagecheckout>
                     <files>
                          <default>MST_Onepagecheckout.csv</default>
                     </files>
                </MST_Onepagecheckout>
            </modules>
        </translate>
        <layout>
             <updates>
                  <onepagecheckout>
                        <file>onepagecheckout.xml</file>
                  </onepagecheckout>
             </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <MST_Onepagecheckout>
                    <files>
                        <default>MST_Onepagecheckout.csv</default>
                    </files>
                </MST_Onepagecheckout>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <onepagecheckout translate="title" module="onepagecheckout">
                                            <title>One Page Checkout Section</title>
                                        </onepagecheckout>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl> 
    </adminhtml>
    <admin>
        <routers>
            <onepagecheckout>
                <use>admin</use>            
                <args>
                    <module>MST_Onepagecheckout</module>
                    <frontName>onepagecheckout</frontName>
                </args>
            </onepagecheckout>
        </routers>
    </admin>
	<default>
        <onepagecheckout>
            <general>
                <enabled>1</enabled>
                <title>CHECKOUT</title>
                <description>Please fill in the fields below and click Place order to complete your purchase!</description>
                <hide_section_shipping_method>0</hide_section_shipping_method>
                <comment>0</comment>
                <newsletter_checkbox>1</newsletter_checkbox>
                <newsletter_checkbox_cheked>0</newsletter_checkbox_cheked>
                <discount_code>1</discount_code>
                <guest_checkout>1</guest_checkout>
            </general>
            <required>
                <firtname>1</firtname>
                <lastname>1</lastname>
                <country>1</country>
                <city>1</city>
                <telephone>1</telephone>
                <company>0</company>
                <fax>0</fax>
                <region>0</region>
                <zip_post>1</zip_post>
                <address>1</address>
                <tax_vat>0</tax_vat>
            </required>
            <auto_update_section>
                <option>country,postcode,state/region</option>
            </auto_update_section>
            <suvery>
                <enabled>0</enabled>
            </suvery>
			<registration>
                <type>3</type>
            </registration>
            <terms_conditions>
                <enabled>0</enabled>
                <width>500</width>
                <height>300</height>
            </terms_conditions>
            <review>
                <product_cart_remove>1</product_cart_remove>
                <thumbnail_product>1</thumbnail_product>
				<product_qty_change>1</product_qty_change>
            </review>
            <layout_configuration>
                <layout>1</layout>
            </layout_configuration>
        </onepagecheckout>
    </default>
</config>