<?xml version="1.0"?>
<config>
	<modules>
		<Qualityunit_Liveagent>
			<version>3.2.0</version>
		</Qualityunit_Liveagent>
	</modules>
	<frontend>
		<routers>
			<liveagent>
				<use>standard</use>
				<args>
					<module>Qualityunit_Liveagent</module>
					<frontName>liveagent</frontName>
				</args>
			</liveagent>
		</routers>
		<layout>
			<updates>
				<liveagent>
					<file>liveagent.xml</file>
				</liveagent>
			</updates>
		</layout>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
            <liveagent after="Mage_Adminhtml">Qualityunit_Liveagent_Adminhtml</liveagent>
          </modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<liveagent>
					<file>liveagent.xml</file>
				</liveagent>
			</updates>
		</layout>
		<menu>
			<liveagent module="liveagent" translate="title">
				<title>LiveAgent</title>
				<sort_order>71</sort_order>
				<children>
					<accountconnect module="liveagent" translate="title">
						<title>Account settings</title>
						<sort_order>0</sort_order>
						<action>adminhtml/liveagent/index</action>
					</accountconnect>
				</children>
			</liveagent>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Qualityunit_Liveagent>
							<title>Liveagent Module</title>
							<sort_order>10</sort_order>
						</Qualityunit_Liveagent>
            <system>
              <children>
                <config>
                  <children>
                    <liveagent_config>
                      <title>LiveAgent multistore config</title>
                    </liveagent_config>
                  </children>
                </config>
              </children>
            </system>
					</children>
				</admin>
			</resources>
		</acl>
		<translate>
            <modules>
                <liveagent>
                    <files>
                        <default>qualityunit_liveagent.csv</default>
                    </files>
                </liveagent>
            </modules>
        </translate>
	</adminhtml>
  <default>
    <liveagent>
      <widgetdisplay>
        <addtostore>1</addtostore>
      </widgetdisplay>
    </liveagent>
  </default>
	<global>
		<models>
			<liveagent>
				<class>Qualityunit_Liveagent_Model</class>
				<resourceModel>liveagent_mysql4</resourceModel>
			</liveagent>
			<liveagent_mysql4>
				<class>Qualityunit_Liveagent_Model_Mysql4</class>
				<entities>
					<liveagentsettings>
						<table>liveagentsettings</table>
					</liveagentsettings>
				</entities>
			</liveagent_mysql4>
		</models>
		<resources>
			<liveagent_setup>
				<setup>
					<module>Qualityunit_Liveagent</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</liveagent_setup>
			<liveagent_write>
				<connection>
					<use>core_write</use>
				</connection>
			</liveagent_write>
			<liveagent_read>
				<connection>
					<use>core_read</use>
				</connection>
			</liveagent_read>
		</resources>
		<blocks>
			<liveagent>
				<class>Qualityunit_Liveagent_Block</class>
			</liveagent>
			<buttoncode>
				<class>Qualityunit_Liveagent_Block</class>
			</buttoncode>
		</blocks>
		<helpers>
			<liveagent>
				<class>Qualityunit_Liveagent_Helper</class>
			</liveagent>
		</helpers>
	</global>
</config>