<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Lastestproduct>
            <version>1.6.1</version>
        </Magentothem_Lastestproduct>
    </modules>
    <frontend>
        <routers>
            <lastestproduct>
                <use>standard</use>
                <args>
                    <module>Magentothem_Lastestproduct</module>
                    <frontName>lastestproduct</frontName>
                </args>
            </lastestproduct>
        </routers>
        <layout>
            <updates>
                <lastestproduct>
                    <file>lastestproduct.xml</file>
                </lastestproduct>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<lastestproduct>
				<use>admin</use>
				<args>
					<module>Magentothem_Lastestproduct</module>
					<frontName>lastestproduct</frontName>
				</args>
			</lastestproduct>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<magentothem translate="title" module="lastestproduct">
				<title>Magentothem</title>
				<sort_order>71</sort_order>               
				<children>
					<lastestproduct translate="title" module="lastestproduct">
						<title>Lastest Products</title>
						<sort_order>0</sort_order>
						<children>
							<configuration>
								<title>Configuration</title>
								<sort_order>1</sort_order>
								<action>adminhtml/system_config/edit/section/lastestproduct</action>
							</configuration>
						</children>
					</lastestproduct>
				</children>
			</magentothem>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Lastestproduct>
							<title>Lastestproduct Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Lastestproduct>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<lastestproduct>
					<file>lastestproduct.xml</file>
				</lastestproduct>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <lastestproduct>
                <class>Magentothem_Lastestproduct_Model</class>
                <resourceModel>lastestproduct_mysql4</resourceModel>
            </lastestproduct>
            <lastestproduct_mysql4>
                <class>Magentothem_Lastestproduct_Model_Mysql4</class>
                <entities>
                    <lastestproduct>
                        <table>lastestproduct</table>
                    </lastestproduct>
                </entities>
            </lastestproduct_mysql4>
        </models>
        <resources>
            <lastestproduct_setup>
                <setup>
                    <module>Magentothem_Lastestproduct</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </lastestproduct_setup>
            <lastestproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </lastestproduct_write>
            <lastestproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </lastestproduct_read>
        </resources>
        <blocks>
            <lastestproduct>
                <class>Magentothem_Lastestproduct_Block</class>
            </lastestproduct>
        </blocks>
        <helpers>
            <lastestproduct>
                <class>Magentothem_Lastestproduct_Helper</class>
            </lastestproduct>
        </helpers>
    </global>
	<default>
		<lastestproduct>
			<lastestproduct_config>
				<enabled>1</enabled>
				<auto>0</auto>
				<title>MA Lastest Products</title>
				<speed>3000</speed>
				<show_price>1</show_price>
				<addtocart>1</addtocart>
				<addtowishlist>1</addtowishlist>
				<addtocompare>1</addtocompare>
				<review>1</review>
				<description>0</description>
				<qty>15</qty>
				<itemsDefault>6</itemsDefault>
				<itemsDesktop>5</itemsDesktop>
				<itemsDesktopSmall>3</itemsDesktopSmall>
				<itemsTablet>2</itemsTablet>
				<itemsMobile>1</itemsMobile>
				<row_show>1</row_show>
				<width>135</width>
				<height>135</height>
				<next_back>1</next_back>
				<nav_ctrl>0</nav_ctrl>
			</lastestproduct_config>
		</lastestproduct>
	</default>
</config>