<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Imagerotator>
            <version>0.1.0</version>
        </Magentothem_Imagerotator>
    </modules>
    <frontend>
        <routers>
            <imagerotator>
                <use>standard</use>
                <args>
                    <module>Magentothem_Imagerotator</module>
                    <frontName>imagerotator</frontName>
                </args>
            </imagerotator>
        </routers>
        <layout>
            <updates>
                <imagerotator>
                    <file>imagerotator.xml</file>
                </imagerotator>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<imagerotator>
				<use>admin</use>
				<args>
					<module>Magentothem_Imagerotator</module>
					<frontName>imagerotator</frontName>
				</args>
			</imagerotator>
        </routers>
    </admin>
    <adminhtml>
		<!-- <menu>
			<imagerotator module="imagerotator">
				<title>Imagerotator</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="imagerotator">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>imagerotator/adminhtml_imagerotator</action>
					</items>
				</children>
			</imagerotator>
		</menu> -->
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Magentothem_Imagerotator>
							<title>Imagerotator Module</title>
							<sort_order>10</sort_order>
						</Magentothem_Imagerotator>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<imagerotator>
					<file>imagerotator.xml</file>
				</imagerotator>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <imagerotator>
                <class>Magentothem_Imagerotator_Model</class>
                <resourceModel>imagerotator_mysql4</resourceModel>
            </imagerotator>
            <imagerotator_mysql4>
                <class>Magentothem_Imagerotator_Model_Mysql4</class>
                <entities>
                    <imagerotator>
                        <table>imagerotator</table>
                    </imagerotator>
                </entities>
            </imagerotator_mysql4>
        </models>
        <resources>
            <imagerotator_setup>
                <setup>
                    <module>Magentothem_Imagerotator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </imagerotator_setup>
            <imagerotator_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </imagerotator_write>
            <imagerotator_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </imagerotator_read>
        </resources>
        <blocks>
            <imagerotator>
                <class>Magentothem_Imagerotator_Block</class>
            </imagerotator>
        </blocks>
        <helpers>
            <imagerotator>
                <class>Magentothem_Imagerotator_Helper</class>
            </imagerotator>
        </helpers>
    </global>
</config>