<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Custommenu>
            <version>0.1.0</version>
        </Magentothem_Custommenu>
    </modules>
    <frontend>
        <routers>
            <custommenu>
                <use>standard</use>
                <args>
                    <module>Magentothem_Custommenu</module>
                    <frontName>custommenu</frontName>
                </args>
            </custommenu>
        </routers>
        <layout>
            <updates>
                <custommenu>
                    <file>custommenu.xml</file>
                </custommenu>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <custommenu>
                <use>admin</use>
                <args>
                    <module>Magentothem_Custommenu</module>
                    <frontName>custommenu</frontName>
                </args>
            </custommenu>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem module="custommenu">
                <title>Magentothem</title>
                <sort_order>80</sort_order>               
<!--                <children>
                    <items module="custommenu">
                        <title>Manage Items</title>
                        <sort_order>0</sort_order>
                        <action>custommenu/adminhtml_custommenu</action>
                    </items>
                </children>-->
                <children>
                    <custommenu translate="title" module="custommenu">
                        <title>Custommenu</title>
                        <sort_order>2</sort_order>
                        <children>
<!--                            <items module="custommenu">
                                <title>Manage Items</title>
                                <sort_order>0</sort_order>
                                <action>custommenu/adminhtml_custommenu</action>
                            </items>-->
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/custommenu</action>
                            </configuration>
                        </children>
                    </custommenu>
               </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Magentothem_Custommenu>
                            <title>Custommenu Module</title>
                            <sort_order>10</sort_order>
                        </Magentothem_Custommenu>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <custommenu>
                    <file>custommenu.xml</file>
                </custommenu>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <custommenu>
                <class>Magentothem_Custommenu_Model</class>
                <resourceModel>custommenu_mysql4</resourceModel>
            </custommenu>
            <custommenu_adminhtml>
                <class>Magentothem_Custommenu_Adminhtml_Model</class>
            </custommenu_adminhtml>
            <custommenu_mysql4>
                <class>Magentothem_Custommenu_Model_Mysql4</class>
                <entities>
                    <custommenu>
                        <table>custommenu</table>
                    </custommenu>
                </entities>
            </custommenu_mysql4>
        </models>
        <resources>
            <custommenu_setup>
                <setup>
                    <module>Magentothem_Custommenu</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </custommenu_setup>
            <custommenu_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </custommenu_write>
            <custommenu_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </custommenu_read>
        </resources>
        <blocks>
            <custommenu>
                <class>Magentothem_Custommenu_Block</class>
            </custommenu>
        </blocks>
        <helpers>
            <custommenu>
                <class>Magentothem_Custommenu_Helper</class>
            </custommenu>
        </helpers>
    </global>
    <default>
        <custommenu>
            <general>
				<enabled>1</enabled>
                <showhome>1</showhome>
                <max_level>4</max_level>
            </general>
            <columns>
                <count>4</count>
                <integrate>1</integrate>
            </columns>
            <popup>
                <effect>0</effect>
                <top_offset>55</top_offset>
            </popup>
        </custommenu>
    </default>
</config>