<?xml version="1.0"?>
<config>
    <modules>
        <Magentothem_Searchajax>
            <version>0.1.0</version>
        </Magentothem_Searchajax>
    </modules>
    <frontend>
        <routers>
            <searchajax>
                <use>standard</use>
                <args>
                    <module>Magentothem_Searchajax</module>
                    <frontName>searchajax</frontName>
                </args>
            </searchajax>
        </routers>
        <layout>
            <updates>
                <searchajax>
                    <file>searchajax.xml</file>
                </searchajax>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <searchajax>
                <use>admin</use>
                <args>
                    <module>Magentothem_Searchajax</module>
                    <frontName>searchajax</frontName>
                </args>
            </searchajax>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <magentothem translate="title" module="searchajax">
                <title>Magentothem</title>
                <sort_order>71</sort_order>               
                <children>
                    <searchajax translate="title" module="searchajax">
                        <title>Search Ajax</title>
                        <sort_order>35</sort_order>
                        <children>
                            <configuration>
                                <title>Configuration</title>
                                <sort_order>1</sort_order>
                                <action>adminhtml/system_config/edit/section/searchajax</action>
                            </configuration>
                        </children>
                    </searchajax>
                </children>
            </magentothem>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <searchajax>
                                            <title>Search Ajax</title>
                                        </searchajax>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>   
    <global>
        <models>
            <searchajax>
                <class>Magentothem_Searchajax_Model</class>
                <resourceModel>searchajax_mysql4</resourceModel>
            </searchajax>
            <searchajax_mysql4>
                <class>Magentothem_Searchajax_Model_Mysql4</class>
                <entities>
                    <searchajax>
                        <table>searchajax</table>
                    </searchajax>
                </entities>
            </searchajax_mysql4>
        </models>
        <resources>
            <searchajax_setup>
                <setup>
                    <module>Magentothem_Searchajax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </searchajax_setup>
            <searchajax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </searchajax_write>
            <searchajax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </searchajax_read>
        </resources>
        <blocks>
            <searchajax>
                <class>Magentothem_Searchajax_Block</class>
            </searchajax>
        </blocks>
        <helpers>
            <searchajax>
                <class>Magentothem_Searchajax_Helper</class>
            </searchajax>
        </helpers>
    </global>
	<default>
		<searchajax>
			<searchajax_config>
				<enabled>1</enabled>
				<loading_image>default/loader.gif</loading_image>
				<attributeids>name</attributeids>
			</searchajax_config>
		</searchajax>
	</default>
</config>